<header class="navbar">
    <div class="company-info">
        <span *ngIf="store.isOwner()">Moja Firma</span>
        <div *ngIf="store.isAssistant() && (store.user()?.availableBusinesses ?? []).length > 1"
            class="business-switcher">
            <select [value]="store.currentBusinessId()" (change)="onBusinessChange($event)">
                <option *ngFor="let busId of store.user()?.availableBusinesses" [value]="busId">
                    Firma {{ busId }}
                </option>
            </select>
        </div>
        <span *ngIf="store.isAssistant() && (store.user()?.availableBusinesses ?? []).length <= 1">
            Firma: {{ store.currentBusinessId() }}
        </span>
    </div>

    <div class="user-menu">
        <span class="user-name">{{ store.user()?.firstName }} {{ store.user()?.lastName }}</span>
        <div class="dropdown">
            <button (click)="logout()">Logout</button>
        </div>
    </div>
</header>