<aside class="sidebar">
    <div class="logo">
        <h2>Pausalio</h2>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Dashboard</a></li>
            <li><a routerLink="/statistics" routerLinkActive="active">Statistika</a></li>
            <li><a routerLink="/finance" routerLinkActive="active">Finansije</a></li>
            <li><a routerLink="/codes" routerLinkActive="active">Šifarnici</a></li>
            <li><a routerLink="/admin" routerLinkActive="active">Administracija</a></li>
        </ul>
    </nav>
</aside>